.ModalContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 6%;
  z-index: -1;
  animation: fadeIn 0.5s ease-in-out; /* Анимация с названием fadeIn, длительностью 0.5 секунд, с плавным входом и выходом */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.5;
  }
}
