@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cursor-default{
    cursor: url('./assets/cursors/default.cur'), auto;
}
.cursor-pointer{
    cursor: url('./assets/cursors/pointer.cur'), auto;
}
.cursor-move{
    cursor: url('./assets/cursors/move.cur'), auto;
}
.cursor-shoot{
    cursor: url('./assets/cursors/shoot.cur'), auto;
}
.cursor-no{
    cursor: url('./assets/cursors/no.cur'), auto;
}
.cursor-attack{
    cursor: url('./assets/cursors/attack.cur'), auto;
}

